<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Product</title>
    <link rel="stylesheet" th:href="@{/css/add.css}">
</head>
<body>

<div class="container">
    <div class="form-card">
        <button class="btn"><a th:href="@{/v1/dashboard}">Products</a></button>
        <button class="btn" id="dark-mode-toggle">Dark Mode</button>
        <h4 class="form-title">Add Product Form</h4>
        <form action="/v1/dashboard/save_products" method="post">
            <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text" id="productName" name="productName" required>
            </div>
            <div class="form-group">
                <label for="email">Enter Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" id="price" name="price" required>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" name="quantity" required>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
            <button><a class="btn btn-danger" th:href="@{/v1/dashboard}">Cancel</a></button>
        </form>
    </div>

</div>

<script th:src="@{../js/darkMode.js}"></script>

</body>
</html>
