<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="ISO-8859-1">
  <title>Company Management System</title>
  <link rel="stylesheet" th:href="@{/css/adds.css}">

</head>
<body>
<div class="header">
  <h1>Welcome [[${user.username}]] to Company Management</h1>
  <p>Your role is: [[${userRole}]]</p>
  <div class="right-menu">
    <a id="dark-mode-toggle">Dark Mode</a>
    <a th:href="@{/logout}">Logout</a>
  </div>
</div>

<div class="container">
        <a th:href="@{/v1/dashboard}">Products</a>
        <a th:href="@{/v1/dashboard/contacts}">Contacts</a>

  <div class ="container">
    <div class = "row">
      <h1> List Companies </h1>
    </div>

    <div class="row" th:if="${userRole == 'ADMIN'}">
        <a th:href = "@{/v1/dashboard/companies/new}" class = "btn btn-primary"> Add Company</a>
    </div>
    <div class="card-body">
      <table class = "table">
        <thead>
        <tr>
          <th> Company First Name</th>
          <th> Company Last Name</th>
          <th> Company Email </th>
          <th scope="col" th:if="${userRole == 'ADMIN'}">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "company: ${companies}">
          <td th:text = "${company.firstName}"></td>
          <td th:text = "${company.lastName}"></td>
          <td th:text = "${company.email}"></td>
          <td th:if="${userRole == 'ADMIN'}">
            <a th:href = "@{/v1/dashboard/companies/edit/{id}(id=${company.id})}"
               class = "btn btn-primary">Update</a>

            <a th:href = "@{/v1/dashboard/companies/{id}(id=${company.id})}"
               class = "btn btn-danger">Delete</a>

          </td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>


</div>
<script th:src="@{../js/darkMode.js}"></script>

</body>
</html>