<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Contact Management System</title>
    <link rel="stylesheet" th:href="@{/css/adds.css}">

</head>
<body>
<div class="header">
    <h1>Welcome [[${user.username}]] to Company Management</h1>
    <p>Your role is: [[${userRole}]]</p>
    <div class="right-menu">
        <a id="dark-mode-toggle">Dark Mode</a>
        <a th:href="@{/logout}">Logout</a>
    </div>
</div>
<div class="container">
    <a th:href="@{/v1/dashboard}">Products</a>
    <a th:href="@{/v1/dashboard/companies}">Companies</a>

    <div class ="container">
        <div class = "row">
            <h1> List Contacts </h1>
        </div>

        <div class = "row">
            <div class = "col-lg-3">
                <a th:href = "@{/v1/dashboard/contacts/new}" class = "btn btn-primary "> Add Contact</a>
            </div>
        </div>
        <div class="card-body">
            <table class = "table">
                <thead>
                <tr>
                    <th> Contact First Name</th>
                    <th> Contact Last Name</th>
                    <th> Contact Email </th>
                    <th> Actions </th>
                </tr>
                </thead>

                <tbody>
                <tr th:each = "contact: ${contacts}">
                    <td th:text = "${contact.firstName}"></td>
                    <td th:text = "${contact.lastName}"></td>
                    <td th:text = "${contact.email}"></td>
                    <td th:if="${userRole == 'ADMIN'}">
                        <a th:href = "@{/v1/dashboard/contacts/edit/{id}(id=${contact.id})}"
                           class = "btn btn-primary">Update</a>

                        <a th:href = "@{/v1/dashboard/contacts/{id}(id=${contact.id})}"
                           class = "btn btn-danger">Delete</a>

                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<script th:src="@{../js/darkMode.js}"></script>

</body>
</html>