<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Contact Management System</title>
    <link rel="stylesheet" th:href="@{/css/adds.css}">

</head>
<body>
<div class="header">
    <h1 class="admin-title">Admin</h1>
    <div class="right-menu">
        <a id="dark-mode-toggle">Dark Mode</a>
        <a th:href="@{/logout}">Logout</a>
    </div>
</div>
<div class="container">
    <a th:href="@{/admin-page}">Products</a>
    <a th:href="@{/admin-page/companies}">Companies</a>

    <div class ="container">
        <div class = "row">
            <h1> List Contacts </h1>
        </div>

        <div class = "row">
            <div class = "col-lg-3">
                <a th:href = "@{/admin-page/contacts/new}" class = "btn btn-primary "> Add Contact</a>
            </div>
        </div>
        <div class="card-body">
            <table class = "table">
                <thead>
                <tr>
                    <th> Contact First Name</th>
                    <th> Contact Last Name</th>
                    <th> Contact Email </th>
                    <th> Actions </th>
                </tr>
                </thead>

                <tbody>
                <tr th:each = "contact: ${contacts}">
                    <td th:text = "${contact.firstName}"></td>
                    <td th:text = "${contact.lastName}"></td>
                    <td th:text = "${contact.email}"></td>
                    <td>
                        <a th:href = "@{/admin-page/contacts/edit/{id}(id=${contact.id})}"
                           class = "btn btn-primary">Update</a>

                        <a th:href = "@{/admin-page/contacts/{id}(id=${contact.id})}"
                           class = "btn btn-danger">Delete</a>

                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<script>
    const darkModeToggle = document.getElementById('dark-mode-toggle');
    const body = document.body;

    // Function to toggle between dark and light modes
    function toggleDarkMode() {
        body.classList.toggle('light-mode');
        if (body.classList.contains('light-mode')) {
            // Set the mode preference in local storage
            localStorage.setItem('dark-mode-preference', 'light');
        } else {
            localStorage.setItem('dark-mode-preference', 'dark');
        }
    }

    // Check the user's preferred mode and set it
    const preferredMode = localStorage.getItem('dark-mode-preference');
    if (preferredMode === 'light') {
        toggleDarkMode(); // Switch to light mode if preferred
    }

    // Toggle dark mode on button click
    darkModeToggle.addEventListener('click', toggleDarkMode);
</script>

</body>
</html>